html {
  height: 100%;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  line-height: 1px;
  padding: 25px;
}
.main-box {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.weather-card {
  background-color: rgba(255, 255, 255, 0.2); /* לבן עם שקיפות 50% */
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 3%;
  padding: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.learn-more-btn {
  background: linear-gradient(45deg, #ff6b6b, #ffa726);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

#snowContainer {
  display: inline-flex;
  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer1 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer2 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer3 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer4 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer5 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}
#snowContainer6 {
  display: inline-flex;

  animation: snowAnimation 5s ease-in-out infinite;
}

@keyframes snowAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15em);
    opacity: 0;
  }
}
